<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.mybatis.model.GroupTable" alias="GroupTable"/>
        <typeAlias type="lt.vu.mybatis.model.Lecture" alias="Lecture"/>
        <typeAlias type="lt.vu.mybatis.model.Student" alias="Student"/>
        <typeAlias type="lt.vu.mybatis.model.StudentLecture" alias="StudentLecture"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="StudentDataSource"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/xml/GroupTableMapper.xml"/>
        <mapper resource="mybatis/xml/LectureMapper.xml"/>
        <mapper resource="mybatis/xml/StudentLectureMapper.xml"/>
        <mapper resource="mybatis/xml/StudentMapper.xml"/>
    </mappers>
</configuration>